## Просмотр текущего каталога

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [4]:
!ls /content/drive/MyDrive/Artificial_Intelligence/hackathon_samara_2021/dataset

data10t.csv  data1.csv	__MACOSX  rosminzdrav-dataset.zip  train.csv  val.csv

In [5]:
!ls /content/drive/MyDrive/Artificial_Intelligence/hackathon_samara_2021/dataset

data10t.csv  data1.csv	__MACOSX  rosminzdrav-dataset.zip  train.csv  val.csv

In [6]:
import pandas as pd

In [14]:
data = pd.read_csv('/content/drive/MyDrive/Artificial_Intelligence/hackathon_samara_2021/dataset/train.csv',nrows=10000)
data_list = data.values.tolist()

In [16]:
data

        id                                               text  label
0        0  Температура тела : 36,5 С\nВеc, кг : 74 ,\nРос...      0
1        1  Педикулез : отр\nЧесотка : отр\nИБС СН 2фк\nДа...      0
2        2  Температура тела : 36,4 С\nВеc, кг : 73 ,\nРос...      0
3        3  Температура тела : 36,4 С\nВеc, кг : 92\nРост,...      0
4        4  Педикулез : отр\nЧесотка : отр\nФлюорограмма Н...      0
...    ...                                                ...    ...
9995  9995  Температура тела : 36,3 С\nВеc, кг : 21\nРост,...      0
9996  9996  Температура тела : 36,6 С\nВеc, кг : 65\nРост,...      0
9997  9997  Температура тела : 36,6 С\nВеc, кг : 70\nРост,...      0
9998  9998  Температура тела : 36,6 С\nВеc, кг : 70 ,\nРос...      0
9999  9999  Температура тела : 36,5 С\nВеc, кг : 70\nРост,...      0

[10000 rows x 3 columns]

In [7]:
tb = pd.read_csv('/content/drive/MyDrive/Artificial_Intelligence/hackathon_samara_2021/dataset/data10t.csv') 
tb

      Unnamed: 0                                               text
0              0  ['цифра', 'уда', 'кровь', 'описание_диагноз', ...
1              1  ['кровь', 'патология', 'чистый', 'нарушить', '...
2              2  ['кровь', 'белого_цвет', 'патология', 'чистый'...
3              3  ['кровь', 'межпредсердный', 'тяжесть', 'патоло...
4              4  ['усиление', 'кровь', 'чистый', 'регулярный', ...
...          ...                                                ...
9995        9995  ['кровь', 'чистый', 'определяться', 'атопическ...
9996        9996  ['кровь', '=', 'вариикозный', 'чистый', 'регул...
9997        9997  ['кровь', '=', 'вариикозный', 'чистый', 'регул...
9998        9998  ['усиление', 'кровь', '140/80', 'чистый', 'пре...
9999        9999  ['кровь', 'борг', 'патология', '140/80', 'чист...

[10000 rows x 2 columns]

In [33]:
train10 = pd.DataFrame()

In [35]:
train10['id'] = data.id
train10

        id
0        0
1        1
2        2
3        3
4        4
...    ...
9995  9995
9996  9996
9997  9997
9998  9998
9999  9999

[10000 rows x 1 columns]

In [36]:
train10['text'] = tb.text
train10

        id                                               text
0        0  ['цифра', 'уда', 'кровь', 'описание_диагноз', ...
1        1  ['кровь', 'патология', 'чистый', 'нарушить', '...
2        2  ['кровь', 'белого_цвет', 'патология', 'чистый'...
3        3  ['кровь', 'межпредсердный', 'тяжесть', 'патоло...
4        4  ['усиление', 'кровь', 'чистый', 'регулярный', ...
...    ...                                                ...
9995  9995  ['кровь', 'чистый', 'определяться', 'атопическ...
9996  9996  ['кровь', '=', 'вариикозный', 'чистый', 'регул...
9997  9997  ['кровь', '=', 'вариикозный', 'чистый', 'регул...
9998  9998  ['усиление', 'кровь', '140/80', 'чистый', 'пре...
9999  9999  ['кровь', 'борг', 'патология', '140/80', 'чист...

[10000 rows x 2 columns]

In [37]:
train10['label'] = data.label
train10

        id                                               text  label
0        0  ['цифра', 'уда', 'кровь', 'описание_диагноз', ...      0
1        1  ['кровь', 'патология', 'чистый', 'нарушить', '...      0
2        2  ['кровь', 'белого_цвет', 'патология', 'чистый'...      0
3        3  ['кровь', 'межпредсердный', 'тяжесть', 'патоло...      0
4        4  ['усиление', 'кровь', 'чистый', 'регулярный', ...      0
...    ...                                                ...    ...
9995  9995  ['кровь', 'чистый', 'определяться', 'атопическ...      0
9996  9996  ['кровь', '=', 'вариикозный', 'чистый', 'регул...      0
9997  9997  ['кровь', '=', 'вариикозный', 'чистый', 'регул...      0
9998  9998  ['усиление', 'кровь', '140/80', 'чистый', 'пре...      0
9999  9999  ['кровь', 'борг', 'патология', '140/80', 'чист...      0

[10000 rows x 3 columns]

In [39]:
train10.head(5)

   id                                               text  label
0   0  ['цифра', 'уда', 'кровь', 'описание_диагноз', ...      0
1   1  ['кровь', 'патология', 'чистый', 'нарушить', '...      0
2   2  ['кровь', 'белого_цвет', 'патология', 'чистый'...      0
3   3  ['кровь', 'межпредсердный', 'тяжесть', 'патоло...      0
4   4  ['усиление', 'кровь', 'чистый', 'регулярный', ...      0

In [40]:
train10.dtypes

id        int64
text     object
label     int64
dtype: object

In [41]:
train10.shape

(10000, 3)

In [42]:
train10['text'][0]

"['цифра', 'уда', 'кровь', 'описание_диагноз', 'не_увеличены', 'нарушение', '41', 'чистый', 'регулярный', 'порядок', 'экв', 'г', 'вид', 'температура', 'повышение', 'туберкулез', 'приемный', 'боль', 'iii', 'везикулярный', 'анамнез', 'онмк', '68', 'мина', 'пыхание', 'язык', '2008,', 'право', 'киста', 'осень', 'давление', 'каг', 'розовый', 'град', 'инфекционный', 'кальциноз', 'система', 'лечебный', 'повод', 'состояние', 'отделение', 'не_определяется', 'миндалина', 'время', 'первично', '2011,', 'стенокардия', 'кг', 'терапия', 'переливание', 'имя', 'осл', 'артериальный', 'пиелонефрит', 'мягкий', 'дыхание', 'год', 'риск', 'п-ка', '34', 'пролапс', 'способ', 'оформить', 'ад', 'пульс', '31', '15.01.2016', 'гипертонический', 'живот', '12.2015', 'отр', 'сердечно-сосудистый', 'гепатит', 'c', 'ст', 'физиотерапевт', '74', 'мин', 'лечебно-диагностический', 'чесотка', 'контакт', 'обследовать', 'мкб', 'санкт-петербург', 'аускультативный', 'кожный', 'шум', 'осн', 'поколачивание', '4', 'общий', '36,0', '2013', 'аорта', '160/90', 'частота', 'железо', 'сустав', 'расширение', '120\\\\70', 'предъявлять', 'кс', 'госпитализировать', 'выдох', 'безболезненный', 'отдел', 'нижний', 'варикозный', 'больной', '2014', 'канал', 'выполняться', '20.8', 'одышка', 'гиперлипидемия', 'уд', 'лихорадка', 'влажный', '#', 'серия', 'нтг', 'кишка', 'статус', 'самостоятельно', '70-80', 'стул', 'заболевание', 'хрип', '2', 'граница', 'стресс-тест', 'плановый', 'кдц', 'макс', '&', 'госпитализация', '39', 'пребывание', '–', 'ii', 'сн', '90', '2008', 'отек', 'хр', '№', 'цель', '2002', 'плечевой', '1', 'жалоба', 'покров', 'форма', 'видимый', 'учреждение', 'отрицательный', 'восходящий', 'вмешательство', 'поясничный', '-', 'напряжение', 'сопа', 'не_увеличить', 'тело', 'мм', 'ибс', 'текущий', 'хронический', 'отрицать', 'поступление', 'отмечать', '96', 'доставка', 'рт', 'сердце', 'вено', '20', '135/80', 'толстый', 'рост', 'постановки_диагноз', 'эутиреоз', 'зев', 'фк', 'i', 'смотреть', '15', 'длительный', 'безболезненно_с_обеих_сторон', 'мн', 'планово', 'данный', 'фмица', 'удовлетворительный', 'транзиторный', 'диагноз_поступления_основич', '176', 'болезнь', 'печень', 'флюорограмма', 'связь', 'дыхательный', 'мочевыделительный', 'д', 'педикулез', 'обычный', 'правый', 'слизистая', 'полип', '01.2016', 'оперативный', '_', 'клапан', 'конечность', 'желудочно-кишечный', '16', 'ав-блокада', 'транспортировка', 'щитовидный', 'акс', 'клинический', 'направить', 'ве', 'не_определяться', 'комитет_здравоохранение', 'без_патология', 'тракт', 'дата', 'не_выслушиваться', 'железа', '36,5', 'инъекция', ';)', 'область', ';', 'исследование', 'мк', '00']"